body{
    justify-content: center;
}

#board{
    display: grid;
    background-color: rgb(45, 47, 46);
    height: 350px;
    width: 360px;
    grid-template-columns: repeat(3, 1fr);
}
.row{
    display: grid;
    padding: 10px;
    
}
.cell{
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    text-align: center;
    
}